* {
    box-sizing: border-box;
    margin: 0;
}

.fixed-top{
    top: 55px;
    left: 0;
    overflow: auto;
    height: 100%;
}

.scrollable{
    margin-left: 27%;
    padding: 0;
}

.bg-image{
    background-image: url('images/Sprinkle.svg');
    
}