@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6c3ca4;
    border-radius: 20px;

}



.form-control {
    color: #808080;
    border-bottom-color: rgba(0, 0, 0, 0.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.search::placeholder{
    color: white;
}

.error {
    font-size: 12px;
}

/* sidebar */

#sidebar-wrapper {
    min-height: 100vh;
    width: 15rem;
    overflow: hidden;
    transition: width 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#wrapper.toggled #sidebar-wrapper {
    width: 5rem;
}

#menu-toggle {
    cursor: pointer;
}

.item {
    border: none;
    padding: 15px 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.item.active {
    background: #6c3ca4;
    color: white !important;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.hide-text {
    display: none;
}

#wrapper.toggled .item .text {
    display: none;
}
/* end of sidebar */

.card {
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

/* remodeled card css */
.card-framez {
    height: 315px;
    width: 225px;
    position: relative; /* Make .card-frame a positioning context */
    display: block;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px; /* Hide any overflowing content */
    cursor: pointer;

}

.card-boxz {
    position: absolute; /* Positioned absolutely */
    bottom: 0;          /* Start from the bottom */
    left: 0;
    background: linear-gradient(#c6a4f0, #926fbd, #7d5ea3);
    height: 100px;
    width: 100%;        /* Take the full width of the parent */
    border-radius: 10px;
    transition: height 0.3s; /* Smooth transition for the hover effect */
    z-index: 2; /* Appear above other elements */
}

.imgz {
    position: relative;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border: 3px solid #c6a4f0; /* Below the .card-box */
}

.contentz {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally aligns child items because of column direction */
    justify-content: space-between; /* Vertically aligns child items because of column direction */
    text-align: center;
    top: 50%; /* Position the top edge at 50% of the parent's height */
    transform: translateY(-50%); /* Shift it up by half of its own height */
    width: 100%;
    box-sizing: border-box;
}

.card-boxz:hover {
    height: 315px; 
    background: linear-gradient(rgba(198, 164, 240, 0.6), rgba(146, 111, 189, 0.6), rgba(125, 94, 163, 0.6));
/* Expanded height on hover */
}

h3, .c-text {
    color: white;
    margin: 5px; /* Reset margins */
}

.c-text {
    display: none;
}

.card-boxz:hover .contentz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-boxz:hover .c-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    position: relative;
    justify-content: space-between;
    top: 20px;
}

#dashboard {
    background: linear-gradient(to bottom, #6c3ca4 30%, transparent 30%);
    width: 100%;
    height: 100vh;
}

.table {
    width: 100%;
    margin: 0;
}


.table td, .table th {
    text-align: left;
}

.table td{
    padding: 15px;

}

.prof{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 0rem;
    }
    .item {
        justify-content: center;
        text-align: center !important;
    }
    .item.active {
        padding-left: 5%;
    }
    .hide-text {
        display: none;
    }
    .prof{
        width: 20vw;
        height: 20vw;
    }
}
