@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.fixed-top{
    top: 55px;
    left: 0;
    overflow: auto;
    height: 100%;
}

.bg-image{
    background-image: url('images/Sprinkle.svg');
}

.snav-link .bi {
    display: none;  
}

.snav-item:hover .nav-link .bi {
    display: inline-block; 
}

.snav-link {
    border-bottom: 2px solid transparent;  
    transition: border-color 0.3s ease;   
}
.snav-item:hover .nav-link {
    border-color: #000000;  
}